{% extends "base.html" %}
{% block title %}Transcritor de Áudio{% endblock %}
{% block content %}
    <div class="container">
        <h1>Transcritor de Áudio</h1>
        <form id="uploadForm" enctype="multipart/form-data">
            <label for="audio">Selecione ou arraste um arquivo de áudio:</label><br>
            <div id="drop-area" style="border:2px dashed #aaa; padding:30px; text-align:center; margin-bottom:10px; cursor:pointer;">
                Arraste e solte o arquivo aqui
                <br>
                <input type="file" id="audio" name="audio" accept="audio/*" style="display:none;" required>
                <span id="file-label"></span>
            </div>
            <label for="mode">Modo do modelo:</label><br>
            <select id="mode" name="mode" required>
                <option value="tiny">tiny</option>
                <option value="base">base</option>
                <option value="small" selected>small</option>
                <option value="medium">medium</option>
                <option value="large">large</option>
            </select><br><br>
            <button type="submit">Transcrever</button>
        </form>

        <div class="transcription">
            <h2>Transcrição:</h2>
            <p id="transcriptionText">{{ transcription }}</p>
        </div>
    </div>
{% endblock %}
{% block script %}
<script src="{{ url_for('static', filename='js/drag_drop.js') }}"></script>
<script src="{{ url_for('static', filename='js/transcription.js') }}"></script>
{% endblock %}